<div class="card bg-light mb-3">
  <h4 class="card-header">Part 1: About Survey Question</h4>
  <div class="card-body">
    {{> part1/isExistingSurvey}}
    {{> part1/didSampleSizeChange}}
  </div>
</div>
