<div class="mx-5 my-4">
  <div class="mx-3">
    <h1 class="display-4 mb-4">Login</h1>
    <form method="post">
    <div class="row my-4">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <input class="form-control option" name="email" type="email" placeholder="Email" required>
        <div class="spacer-sm"></div>
        <input class="form-control option" name="password" type="password" placeholder="Password" required>
      </div>
    </div>
    {{#if messages.error}}
    <div class="text-danger mb-3">
      {{messages.error}}
    </div>
    {{/if}}
    <button type="submit" class="btn-dark rounded px-2 py-1 mb-3">Login</button>
  </form>
    <a href="/register">Register</a>
  </div>
</div>
