<div class="mx-5 my-4">
  <div class="mx-3">
    <h1 class="display-4 mb-4">Register</h1>
    <form>
      <div class="row my-4">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input class="form-control option my-2" name="firstName" type="text" placeholder="First Name" required>
              </div>
              <div class="col">
                <input class="form-control option my-2" name="lastName" type="text" placeholder="Last Name" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control option" name="email" type="email" placeholder="Email" required>
          </div>

          <div class="form-group">
            <input class="form-control option" name="password" type="password" placeholder="Password" required>
          </div>

          <div class="form-group">
            <input class="form-control option" name="password" type="password" placeholder="Confirm Password" required>
          </div>

          <div class="form-group">
            <label>How did you hear about us?</label>
            <textarea class="form-control" name="how_did_you_hear" rows="2" required></textarea>
          </div>

          <div class="form-group">
            <label>Why do you want to get involved with us?</label>
            <textarea class="form-control" name="why_get_involved" rows="2" required></textarea>
          </div>

          <div class="form-group">
            <label>Please tell us about your language proficiencies:</label>
            <textarea class="form-control" name="language_proficiencies" rows="2" required></textarea>
          </div>

          <div class="form-group">
            <label>Please indicate your highest level of education and the name of the institution:</label>
            <textarea class="form-control" name="language_proficiencies" rows="2" required></textarea>
          </div>

        </div>
      </div>
      <button type="submit" class="btn-dark rounded px-2 py-1">Register</button>
    </form>
  </div>
</div>
