<script type="text/javascript" src="js/submit.js"></script>
<p></p>
<form>

{{> questions/isExistingSurvey }}
{{> questions/didSampleSizeChange }}

  <button type="submit" class="btn btn-dark">Submit</button>
</form>
