<script type="text/javascript" src="js/submit.js"></script>
<p></p>
<form>

{{> part1/aboutSurvey }}

{{> part2/newSurvey}}

{{> part3/questionDetails}}

  <button type="submit" class="btn btn-dark">Submit</button>

</form>
