<script type="text/javascript" src="js/submit.js"></script>
<p></p>
<form>

{{> questions/isExistingSurvey }}


  <div class="row">
  <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>
