<script type="text/javascript" src="../js/submit_question/submitQuestion.js"></script>
<p></p>
<form>

{{> question/chooseSurvey }}
{{> question/questionInfo }}
{{> question/questionDetails}}

  <button type="submit" class="btn btn-dark">Submit</button>

</form>
