<script type="text/javascript" src="../js/submit_question/chooseSurvey.js"></script>
<script type="text/javascript" src="../js/submit_question/questionInfo.js"></script>
<script type="text/javascript" src="../js/submit_question/questions.js"></script>

<div class="mx-5 my-4">
<h1 class="display-4 mx-3">Submit Question</h1>
<hr class="mx-3 bg-dark">
</div>

<form>
<div class="row mx-5 my-4">

<div class="col-md-4">
{{> question/chooseSurvey }}
<br>
{{> question/questionInfoTemplate }}
</div>

<div class="col-md-8 hide" id="questions_container">
{{> question/questions}}
<button type="submit" class="btn btn-dark hide" id="submit_button">Submit</button>
</div>

</div>
</form>
