<script type="text/javascript" src="../js/submit_question/chooseSurvey.js"></script>
<script type="text/javascript" src="../js/submit_question/questionInfo.js"></script>
<script type="text/javascript" src="../js/submit_question/questions.js"></script>
<form>
<div class="row mx-5 my-5">
<form>

{{> question/chooseSurvey }}
{{> question/questionInfoTemplate }}
{{> question/questions}}

  <button type="submit" class="btn btn-purple-dark hide">Submit</button>
</div>
</form>
