<script type="text/javascript" src="../js/submit/submitQuestion.js"></script>

<div class="mx-5 my-4">
  <h1 class="display-4 mx-3">Submit Question</h1>
  <hr class="mx-3 bg-dark">

  {{#if submitted}}
  <h5 class="mx-3 text-success">
    Thank you. Your question has been submitted!
  </h5>
  {{/if}}

</div>



<form>
  <div class="row mx-5 my-3">

    <div class="col-md-3">
      {{> submit_question/chooseSurvey surveys=surveys}}
    </div>
    <div class="col-md-3">
      {{> submit_question/questionInfoTemplate groups=groups themes=themes keywords=keywords}}
    </div>

    <div class="col-md-6" id="questions_container">
      {{> submit_question/questions}}

      <div class="form-group">
        <label for="initial" class="font-weight-bold">
          Your Initial
        </label>
        <div>
          <input class="form-control col-3" type="text" name="created_by" id="initial" placeholder="SK" required>
        </div>
      </div>

      <button type="submit" class="btn btn-dark" id="submit_button">Submit</button>

      <div class="my-3 hide" id="success_message">
        <span class="text-success">Success!</span> <a href="/submit/question"> Submit another one</a>
      </div>

    </div>

  </div>
</form>
