<script type="text/javascript" src="../js/submit_question/chooseSurvey.js"></script>
<script type="text/javascript" src="../js/submit_question/questionInfo.js"></script>
<script type="text/javascript" src="../js/submit_question/questions.js"></script>
<form>
<div class="row mx-5 my-5">
<form>

<div class="col-md-3">
{{> question/chooseSurvey }}
<br>
{{> question/questionInfoTemplate }}
</div>

<div class="col-md-9 questions_container hide" id="questions_container">
{{> question/questions}}
</div>

  <button type="submit" class="btn btn-purple-dark hide">Submit</button>
</form>
</div>
