<script type="text/javascript" src="../js/submit_question/submitQuestion.js"></script>
<p>
  <h2>Submit Question</h2>
</p>
<form>

{{> question/chooseSurvey }}
{{> question/questionInfoTemplate }}
{{> question/questionDetails}}

  <button type="submit" class="btn btn-purple-dark hide">Submit</button>

</form>
