<script type="text/javascript" src="../js/submit_survey/submitSurvey.js"></script>
<p>
  <h2>Submit Survey</h2>
</p>
<form>

  <button type="submit" class="btn btn-turquoise-dark hide">Submit</button>

</form>
