// Custom.scss
$theme-colors: (
  "purple": #a29bfe, //purple :)
  "purple-dark": #6c5ce7,
  "tuorqoise": #55efc4, //turquoise :)
  "tuorqoise-dark": #00b894
);

@import "../../node_modules/bootstrap/scss/bootstrap";

.hide{
  display:none
}

html, body {
  height: 100%;
}

ion-icon.white {
  color:white;
}
