<div class="form-group" id="choose_survey">
    <label for="choose_survey">
      Which survey is this question for?
    </label>
    <div>
        <select class="form-control-sm" name="select_survey" id="select_survey" required>
          <option value="">Select Survey</option>
          {{#each surveys}}
            <option value={{this}}>{{this}}</option>
          {{/each}}
        </select>
    </div>
</div>
