<div id="choose_survey">
  <h2 class="font-weight-light mb-3"><span class="bg-dark rounded px-2 py-0.5 text-white">1</span> Choose Survey</h2>
    {{> submit_question/choose_survey/selectSurvey}}
    {{> submit_question/choose_survey/useSameSampleSize}}
</div>
