<div class="col-md-3">
  <h1 class="font-weight-light mb-3"><span class="bg-dark rounded px-2 py-0.5 text-white">1</span> Choose Survey</h1>
    {{> question/choose_survey/selectSurvey}}
    {{> question/choose_survey/useSameSampleSize}}
</div>
