<div class="card bg-light mb-3">
  <h4 class="card-header">Part 1: Choose Survey</h4>
  <div class="card-body">
    {{> question/choose_survey/whichSurvey}}
    {{> question/choose_survey/useSameSampleSize}}
  </div>
</div>
