<div class="card bg-light mb-3">
  <h5 class="card-header text-white bg-purple">Choose Survey</h5>
  <div class="card-body">
    {{> question/choose_survey/selectSurvey}}
    {{> question/choose_survey/useSameSampleSize}}
  </div>
</div>
