<div class="card bg-light mb-3 hide" id="question_details">
  <h4 class="card-header">New Question</h4>
  <div class="card-body">

      {{#each formItems}}

      {{/each}}

      <div class="form-group">
      </div>

  </div>
</div>
