<div class="card bg-light mb-3 hide" id="question_info">
  <h5 class="card-header text-white bg-purple">Question Info</h5>
  <div class="card-body">

    <div class="form-group">

    </div>

    {{#each questionInfoModel.formItems }}
      {{#ifEquals type "dropdown"}}
        <select class="form-control-sm" name="group" id="group" required>
          <option value="">Select</option>

          {{#each options}}
            <option value={{ this }}>{{ this }}</option>
          {{/each}}

        </select>
      {{/ifEquals}}

    {{/each}}

    <h2>{{foo}}</h2>
  </div>
</div>
