<div class="card bg-light mb-3 hide" id="question_details">
  <h5 class="card-header text-white bg-amethyst">Question Details</h5>
  <div class="card-body">

      {{#each formItems}}

      {{/each}}

      <div class="form-group">
      </div>

  </div>
</div>
