<div id="questions">
  <h1 class="font-weight-light mb-3">
    <span class="bg-dark rounded px-2 py-0.5 text-white">3</span> Questions
  </h1>

  {{> question/question_template/question_template hide=true}}
  {{> question/question_template/question_template}}
</div>

<div><button type="button" class="btn btn-dark" onclick=addQuestion()>Add Question</button></div>
