<div class="card bg-light border-primary mb-3 hide" id="new_survey">
  <h4 class="card-header text-primary">Part 2: New Survey</h4>
  <div class="card-body">

      <div class="form-group">
      </div>

  </div>
</div>
