<div class="card bg-light border-primary mb-3 hide" id="new_survey">
  <h5 class="card-header text-white bg-tuorqoise">Part 2: New Survey</h5>
  <div class="card-body">

      <div class="form-group">
      </div>

  </div>
</div>
