<div class="form-group d-none" id="did_sample_size_change">
  <label for="did_sample_size_change_options">
    <h5>Did the sample size change for this question?</h5>
  </label>
  <div id="did_sample_size_change_options">
    <div class="col-md-3">
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="did_ss_change" id="q2no" value="no" checked>
        <label class="form-check-label" for="no">
          No
        </label>
      </div>
    </div>

    <div class="row">
        <div class="form-check col align-middle">
          <input class="form-check-input align-middle" type="radio" name="did_ss_change" id="q2yes" value="yes">
          <label class="form-check-label align-middle" for="yes">
            Yes
          </label>
        </div>

      <div class="col-md-8 input-group-sm">
        <input class="form-control d-none" type="text" id="sample_size_textbox">
      </div>
    </div>
  </div>
  </div>
</div>
